.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 500px;

}

.item {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background: chocolate;
    color: white;
    cursor: pointer;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;

}

.title .question {
    font-size: 20px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.item .answer {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-container .btn{
    background: chocolate;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
}